@import url('./Inter.css');

body {
	background-color: snow;
	font-family: 'Inter', sans-serif;
	margin: 0;
}

main {
	display: grid;
	grid-template:
		'heading heading' auto
		'contact profile' 1fr
		'skills work' 1fr
		'education work' 1fr
		'projects work' 1fr / 1fr 2fr;
	margin: auto;
	max-width: 90vw;
}

h1 {
	font-size: 5em;
	margin-bottom: 0;
}

h2 {
	font-weight: normal;
}

h4 {
	margin: 0;
}

h1 + p {
	font-size: 1.5em;
}

h1,
h1 + p {
	text-align: center;
}

h1,
h1 + p,
h2 {
	letter-spacing: 0.1em;
}

address {
	color: dodgerblue;
	font-size: small;
	font-style: normal;
	font-weight: bold;
}

a {
	color: inherit;
	text-decoration: none;
}

svg {
	margin-right: 0.5em;
	max-height: 2em;
	max-width: 2em;
}

s-svg {
	vertical-align: middle;
}

.section {
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	padding: 1em;
}

.contact,
.skills,
.education,
.projects {
	background-color: whitesmoke;
}

.heading {
	grid-area: heading;
}

.contact {
	grid-area: contact;
}

.profile {
	grid-area: profile;
}

.skills {
	grid-area: skills;
}

.education {
	grid-area: education;
}

.projects {
	grid-area: projects;
}

.work {
	grid-area: work;
}

.work-company {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.work-time {
	font-size: small;
}
