@import url('./Inter.css');

body {
	--avatar-url: url('https://static.ssmithsoftware.com/images/jpg/avatar.jpg');
	--black: oklch(0 0 0);
	--blue: oklch(0.75 0.15 230);
	--border-radius: 0.5em;
	--border-width: 0.1em;
	--cover-url: url('https://static.ssmithsoftware.com/images/jpg/cover.jpg');
	--gray: oklch(0.8 0 0);
	--purple: oklch(0.3 0.15 286);
	--spacing: 1em;
	--transparent: oklch(0 0 0 / 0%);

	background-color: var(--black);
	color: var(--gray);
	font-family: 'Inter', sans-serif;
	margin: auto;
	max-width: 86vw;
}

header {
	background-blend-mode: hard-light;
	background-color: var(--black);
	background-image:
		linear-gradient(
			to right,
			var(--black),
			46%,
			var(--transparent),
			50%,
			var(--black)
		),
		var(--cover-url);
	background-position: center;
	background-size: cover;
}

header,
footer {
	min-height: 24vh;
	padding: var(--spacing);
}

main {
	display: grid;
	grid-area: main;
	grid-template:
		'contact profile' 2fr
		'skills work' 3fr
		'open-source work' 6fr
		'education work' 3fr / 1fr 2fr;
}

h1 {
	font-size: 5em;
	margin-bottom: 0;
}

h1 + p {
	font-size: 1.5em;
}

h2 {
	font-weight: 500;
}

h1,
h1 + p,
h2 {
	letter-spacing: 0.1em;
}

h4,
h5,
h6 {
	margin: 0;
}

h5,
h6 {
	font-size: 1em;
}

a {
	color: var(--blue);
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

svg {
	height: 2em;
	margin-right: calc(var(--spacing) / 2);
	max-width: 100%;
	width: 2em;
}

s-svg {
	vertical-align: middle;
}

ul {
	margin: var(--spacing) 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 calc(var(--spacing) / 2);
}

aside {
	border: var(--border-width) solid var(--purple);
	border-radius: var(--border-radius);
	margin: 0 var(--spacing);
	padding: 0 var(--spacing);
}

button {
	background-color: var(--transparent);
	border: 0;
	color: inherit;
	cursor: pointer;
}

button::after {
	background-color: var(--purple);
	border-radius: var(--border-radius);
	content: 'Copy to Clipboard';
	opacity: 0;
	padding: calc(var(--spacing) / 2);
	transition-property: opacity;
}

button svg {
	transition-property: filter;
}

button::after,
button svg {
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}

button:active {
	transform: translate(0.25em, 0.25em);
}

button:focus::after,
button:hover::after {
	opacity: 1;
}

button:focus svg,
button:hover svg {
	filter: brightness(50%);
}

.section {
	border-image: linear-gradient(
			to right,
			var(--black),
			var(--gray),
			var(--black)
		)
		1 / 0 0 var(--border-width);
	padding: var(--spacing) calc(var(--spacing) * 2);
}

.contact {
	grid-area: contact;
}

.profile {
	grid-area: profile;
}

.skills {
	grid-area: skills;
}

.open-source {
	grid-area: open-source;
}

.education {
	grid-area: education;
}

.work {
	grid-area: work;
}

.contact,
.profile {
	border-image-width: var(--border-width) 0;
}

.contact,
.skills,
.open-source,
.education {
	background-image: linear-gradient(
		to right,
		var(--black),
		20%,
		var(--purple),
		80%,
		var(--black)
	);
}
