@import url('./Inter.css');

body {
	--border-style: solid;
	--border-width: 0.1em;
	--padding: 1em;

	background-color: black;
	/* background-color: snow; */
	color: rgba(255, 255, 255, 0.75);
	font-family: 'Inter', sans-serif;
	margin: 0;
}

header,
footer {
	padding: var(--padding);
}

main {
	display: grid;
	grid-area: main;
	grid-template:
		'contact profile' 1fr
		'skills work' 1fr
		'projects work' 1fr
		'education work' 1fr / 1fr 2fr;
	margin: auto;
	max-width: 85vw;
}

h1 {
	font-size: 5em;
	margin-bottom: 0;
}

h1 + p {
	font-size: 1.5em;
}

h1,
h1 + p,
footer {
	text-align: center;
}

h1,
h1 + p,
h2 {
	letter-spacing: 0.1em;
}

h5,
h6 {
	font-size: 1em;
}

h4,
h5,
h6 {
	margin: 0;
}

address {
	color: deepskyblue;
	/* color: dodgerblue; */
	font-style: normal;
	font-weight: 600;
}

a {
	color: inherit;
	padding: 0.25em 0;
	text-decoration: none;
}

svg {
	margin-right: 0.5em;
	max-height: 2em;
	max-width: 2em;
}

s-svg {
	vertical-align: middle;
}

ul {
	margin: 1em 0;
}

.section {
	border-bottom-style: var(--border-style);
	border-bottom-width: var(--border-width);
	padding: var(--padding);
}

.contact {
	grid-area: contact;
}

.profile {
	grid-area: profile;
}

.skills {
	grid-area: skills;
}

.projects {
	grid-area: projects;
}

.education {
	grid-area: education;
}

.work {
	grid-area: work;
}

.contact,
.profile {
	border-top-style: var(--border-style);
	border-top-width: var(--border-width);
}

.contact,
.skills,
.projects,
.education {
	background-color: darkslateblue;
	/* background-color: whitesmoke; */
}

.heading {
	font-weight: 500;
}

.skills-ul {
	font-weight: 600;
	list-style: none;
}

.article-section {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
