@import url('./Inter.css');

body {
	background-color: snow;
	font-family: 'Inter', sans-serif;
	margin: 0;
}

main {
	--main-border-style: solid;
	--main-border-width: 0.1em;

	display: grid;
	grid-area: main;
	grid-template:
		'contact profile' 1fr
		'skills work' 1fr
		'projects work' 1fr
		'education work' 1fr / 1fr 2fr;
	margin: auto;
	max-width: 85vw;
}

h1 {
	font-size: 5em;
	margin-bottom: 0;
}

h2 {
	font-weight: 500;
}

h4 {
	margin: 0;
}

h1 + p {
	font-size: 1.5em;
}

h1,
h1 + p,
footer {
	text-align: center;
}

h1,
h1 + p,
h2 {
	letter-spacing: 0.1em;
}

address {
	color: dodgerblue;
	font-style: normal;
	font-weight: 600;
}

a {
	color: inherit;
	padding: 0.25em 0;
	text-decoration: none;
}

svg {
	margin-right: 0.5em;
	max-height: 2em;
	max-width: 2em;
}

s-svg {
	vertical-align: middle;
}

.main-section {
	border-bottom-style: var(--main-border-style);
	border-bottom-width: var(--main-border-width);
	padding: 1em;
}

.contact {
	grid-area: contact;
}

.profile {
	grid-area: profile;
}

.skills {
	grid-area: skills;
}

.projects {
	grid-area: projects;
}

.education {
	grid-area: education;
}

.work {
	grid-area: work;
}

.contact,
.profile {
	border-top-style: var(--main-border-style);
	border-top-width: var(--main-border-width);
}

.contact,
.skills,
.projects,
.education {
	background-color: whitesmoke;
}

.article-section {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
