@import url('./Inter.css');

body {
	--border-style: solid;
	--border-width: 0.1em;
	--padding: 1em;

	background-color: black;
	/* background-color: snow; */
	color: rgba(255, 255, 255, 0.75);
	font-family: 'Inter', sans-serif;
	margin: 0;
}

header,
footer {
	padding: var(--padding);
}

main {
	display: grid;
	grid-area: main;
	grid-template:
		'contact profile' 1fr
		'skills work' 2fr
		'open-source work' 2fr
		'education work' 2fr / 1fr 2fr;
	margin: auto;
	max-width: 85vw;
}

h1 {
	font-size: 5em;
	margin-bottom: 0;
}

h1 + p {
	font-size: 1.5em;
}

h1,
h1 + p,
footer {
	text-align: center;
}

h1,
h1 + p,
h2 {
	letter-spacing: 0.1em;
}

h4,
h5,
h6 {
	margin: 0;
}

h5,
h6 {
	font-size: 1em;
}

a {
	color: deepskyblue;
	/* color: dodgerblue; */
	font-style: normal;
	font-weight: 600;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

svg {
	height: 2em;
	margin-right: 0.5em;
	max-width: 100%;
	width: 2em;
}

s-svg {
	vertical-align: middle;
}

ul {
	margin: 1em 0;
}

aside {
	margin: 0 1em;
}

button {
	background-color: transparent;
	border: 0;
	color: inherit;
	cursor: pointer;
}

button::after {
	background-color: darkslateblue;
	border-radius: 0.5em;
	content: 'Copy to Clipboard';
	opacity: 0;
	padding: 0.5em;
	transition-property: opacity;
}

button svg {
	transition-property: filter;
}

button::after,
button svg {
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}

button:active {
	transform: translate(0.25em, 0.25em);
}

button:focus::after,
button:hover::after {
	opacity: 1;
}

button:focus svg,
button:hover svg {
	filter: brightness(50%);
}

.section {
	border-bottom-style: var(--border-style);
	border-bottom-width: var(--border-width);
	padding: var(--padding);
}

.contact {
	grid-area: contact;
}

.profile {
	grid-area: profile;
}

.skills {
	grid-area: skills;
}

.open-source {
	grid-area: open-source;
}

.education {
	grid-area: education;
}

.work {
	grid-area: work;
}

.contact,
.profile {
	border-top-style: var(--border-style);
	border-top-width: var(--border-width);
}

.contact,
.skills,
.open-source,
.education {
	background-color: darkslateblue;
	/* background-color: whitesmoke; */
}

.heading {
	font-weight: 500;
}

.skills-ul {
	font-weight: 600;
	list-style: none;
}

.article-section {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
